<h1>Login</h1>
<form action="/login" method="POST">
    <label for="">Username: </label>
    <input type="text" name="username" placeholder="artfan123">
    <label for="">Password: </label>
    <input type="password" name="password" placeholder="******">
    <button type="submit">Log me in</button>
</form>