<h1>Upload Image</h1>
<form action="/graffiti/add" method="POST" enctype="multipart/form-data">
    <label for="picture">Choose image: </label>
    <input type="file" id="image" name="image" accept="image/png, image/jpeg">
    <br>
    <label for="">Title: </label>
    <input type="text" name="title">
    <br>
    <label for="">Description: </label>
    <textarea name="description" id="" cols="30" rows="10"></textarea>
    <br>
    <label for="">Photographer: </label>
    <input type="text" name="owner">
    <br>
    <label for="">Hashtags: </label>
    <input type="text" id="hashtags" name="hashtags">
    <br>
    <label for="">Location: </label>
    <input type="text">
    <br>
    <button type="submit">save and upload image</button>
</form>

