<h1>UPLOAD IMAGE</h1>

<a href="/">gallery</a>
<br>
<a href="/graffiti/map">map</a>
<br>
<a href="/auth/users/profile">profile</a>
<br>
<a href="/auth/login">login</a>

<form action="/graffiti/add" method="POST" enctype="multipart/form-data">
    <label for="picture">Choose picture:* </label>
    <input type="file" id="image" name="image" accept="image/png, image/jpeg">
    <br>
    <label for="photographer">Photographer:* </label>
    <input type="text" name="photographer">
    <br>
    <label for="title">Title:* </label>
    <input type="text" name="title">
    <br>
    <label for="description">Description:* </label>
    <textarea name="description" id="description" cols="30" rows="10"></textarea>
    <br>
    <label for="latitude">Latitude: </label>
    <input type="text" name="latitude" id="latitude" value="">    
    <br>
    <label for="longitude">Longitude: </label>
    <input type="text" name="longitude" id="longitude" value="">
    <br>
    <div id="map" style="width: 80vw; height: 60vh"></div>
    <br>
    <button type="submit" id="upload-btn">upload image</button>
</form>

{{!-- TODO: figure out how to save coordinates to compass --}}