<h1>Add art piece</h1>
<form action="/graffiti" method="POST">
    <label for="">Photo: </label>
    <input type="file" name="userFile">

    <label for="">Tags: </label>
    <input type="text" name="tags">
    
    <label for="">Category: </label>
    <input type="checkbox" name="option1" value="value1">
    <input type="checkbox" name="option2" value="value2">
    <input type="checkbox" name="option3" value="value3">

    <label for="">Description: </label>
    <textarea name="description" id="" cols="30" rows="10"></textarea>
    
    <button type="submit">Add art piece</button>
</form>