<h1>Nomad Graffiti</h1>

<h2>Map View</h2>

<a href="/">gallery</a>
<br>
<a href="/auth/login">login</a>
<br>
<a href="/auth/users/profile">profile</a>

<div id="map" style="width: 70vw; height: 70vh"></div>
