<h1>{{appTitle}}🚀</h1>
<p>Welcome to Nomad Graffiti!</p><br>
<a href="/graffiti">See all the graffiti</a><br>

<br>
{{!-- TODO: complete route to render signup --}}
<a href="/signup">Sign up here</a><br>
<br>
{{!-- TODO: complete route to render login --}}
<a href="/login">Log in</a>