<h1>{{appTitle}}🚀</h1>
<p>Welcome to Nomad Graffiti!</p><br>

<br>
{{!-- TODO: complete route to render signup --}}
<a href="/signup">Sign up here</a><br>
<br>
{{!-- TODO: complete route to render login --}}
<a href="/login">Log in</a>

<div id="nav">
<ul class="nav-header">
    <li class="nav-header">
        <a href="/" title="gallery" class="nav-header">gallery</a>
    </li>
    <li class="nav-header">
        <a href="/graffiti/map" title="map" class="nav-header">map</a>
    </li>
    <li class="nav-header">
        <a href="/auth/login" title="login" class="nav-header">login</a>
    </li>
</ul>
</div>

