.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  background-color: #131313;
  /* font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; */
  /* color: #333; */
  font-family: 'Exo 2', sans-serif;
  color: #e9e9e9;
  font-size: 14px;
  line-height: 20px;
}

.navbar-01 {
  position: -webkit-sticky;
  position: sticky;
  background-color: hsla(0, 0%, 100%, 0.04);
  padding: 15px 0;
}

.image {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-link {
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Exo 2', sans-serif;
  color: #e9e9e9;
  font-size: 20px;
  font-weight: 500;
}

.grid {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-details {
  position: static;
  display: block;
  text-align: left;
}

.heading {
  font-family: 'Exo 2', sans-serif;
  font-size: 32px;
}

.heading.heading-title {
  color: #e9e9e9;
}

.paragraph {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Exo 2', sans-serif;
  color: #e9e9e9;
  font-size: 16px;
}

.caption-01 {
  font-family: 'Exo 2', sans-serif;
  color: #e9e9e9;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-2 {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.section {
  padding-top: 40px;
}

.body {
  background-color: #131313;
}

.link {
  color: #e9e9e9;
}

.heading-2 {
  font-family: 'Exo 2', sans-serif;
  color: #e9e9e9;
  text-align: center;
}

.field-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: 'Exo 2', sans-serif;
  color: hsla(0, 0%, 91.3%, 0.5);
}

.form-block {
  font-family: 'Exo 2', sans-serif;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  padding-right: 220px;
  padding-left: 220px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.submit-button {
  width: 200px;
  margin-top: 20px;
  background-color: #fa8e24;
}

.field-label-2 {
  color: hsla(0, 0%, 91.3%, 0.5);
}

.text-field {
  margin-bottom: 30px;
}

.container {
  margin-top: 60px;
}

.h-title {
  color: #e9e9e9;
  padding-bottom: 20px;

}

.label-nomad {
  font-family: 'Exo 2', sans-serif;
  color: #e9e9e9;
}

.field-nomad {
  font-family: 'Exo 2', sans-serif;
}

.button-nomad {
  margin-top: 20px;
  background-color: #fa8e24;
}

.nomad-link-edit {
  position: static;
  display: block;
  padding-right: 10px;
  font-family: 'Exo 2', sans-serif;
  color: #e9e9e9;
}

.nomad-dyn-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nomad-dyn-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 25%;
  -ms-flex: 0 25%;
  flex: 0 25%;
}

.container-top {
  margin-top: 200px;
}

.section-2 {
  margin-top: 40px;
}

#w-node-c74673c3-6e4d-1db9-571b-97112011c0b7-390303b4 {
  /* -ms-grid-column: span 1; */
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  /* -ms-grid-row: span 1; */
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4320c446-503b-c24b-922e-cef79d994245-390303b4 {
  /* -ms-grid-column: span 1; */
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  /* -ms-grid-row: span 1; */
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

