{{#if userInSession}}
<h1>Hello {{ userInSession.username }}</h1>
<a href="/">Back to Home</a><br>
<br>
{{!-- TODO: complete route to log out and return to index.hbs --}}
<a href="/auth/logout">Log me out</a>

{{else}}
  <br><p>Still no logged in user, sorry!</p>
{{/if}}